# Keep the published .vsix small: ship only the bundle + manifest + license/readme.
.vscode/**
src/**
out/**
node_modules/**
**/*.ts
**/*.map
esbuild.js
tsconfig.json
.eslintrc.json
**/*.test.ts
.gitignore
